@model Query<SYS_User, Max.Web.Management.Models.Account.ListParams>
@{
    ViewBag.Title = "管理员设置";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="portlet">
    <div class="portlet-title">
        <div class="caption"><i class="icon-user"></i> 管理员设置</div>
    </div>
    <div class="portlet-body">
        @using (Html.PageView("List", "Account", "accountForm", "accountContainer", "List_Partial", Model))
        {
            <div class="form-inline">
                @Html.TextBoxFor(m => m.Params.UserName, new { @class = "form-control", placeholder = "帐号" })
                @Html.TextBoxFor(m => m.Params.RealName, new { @class = "form-control", placeholder = "姓名" })
                @Html.SelectFor(m => m.Params.UserType, typeof(Max.Models.System.Common.UserType), "-- 帐号类型 --")
                <label class="margin-left-5">状态</label>
                @Html.RadioListFor(m => m.Params.UserStatus, typeof(Max.Models.System.Common.UserStatus), true, "全部")
            </div>
            <div class="form-inline margin-top-10">

                @Html.DayTimePickerFor(m => m.Params.CreateTimeStart, "注册时间-开始")
                @Html.DayTimePickerFor(m => m.Params.CreateTimeEnd, "注册时间-结束")

                <button type="submit" class="btn blue"><i class="fa fa-search"></i> 查询</button><button type="reset" class="btn yellow"><i class="fa fa-undo"></i> 重置</button>
                <a id="btnDelete" permid="@PermCode.删除管理员.Code()" class="btn btn-danger pull-right"><i class="fa fa-trash-o fa-fw"></i> 删除管理员</a>
                <a id="btnAdd" permid="@PermCode.添加管理员.Code()" class="btn green pull-right"><i class="fa fa-plus"></i> 新增管理员</a>
            </div>
        }
    </div>
</div>

<div id="addOrEditUser" class="modal fade-in-up"></div>
<div id="userPerms" class="modal fade-in-up"></div>

@section footer{
    <script type="text/javascript">
        $(function () {

            $("#btnAdd").click(function () {
                App.LoadModal("#addOrEditUser", "/Account/Add");
            });


            $(".edit").live("click", function () {
                App.LoadModal("#addOrEditUser", "/Account/Edit", { userId: $(this).attr("itemId") }, { width: 800 });

            });
            $(".roles").live("click", function () {
                App.LoadModal("#addOrEditUser", "/Account/Roles", { userId: $(this).attr("itemId") }, { width: 800 });
            });

            $(".perms").live("click", function () {
                App.LoadModal("#userPerms", "/Account/Perms", { userId: $(this).attr("itemId") }, { width: 800, height: 600 });
            });

            $(".delete").live("click", function () {
                $btn = $(this);
                App.Confirm("是否删除用户 " + $btn.attr("itemName") + "？", function (e) {
                    if (e) {
                        $.ajax({
                            type: "POST",
                            url: "/Account/DeleteForAjax",
                            data: { userId: $btn.attr("itemId") }
                        }).done(function (data) {
                            if (data.Success) {
                                App.Notify(data.Message);
                                $("#accountForm").submit()
                            } else {
                                App.Alert(data.Message);
                            }
                        })
                    }
                })

            });
            //批量操作
            $("#btnDelete").click(function () {
                var selectedItems = $("input[type='checkbox'][selectitem]:checked");
                if (selectedItems.length > 0) {
                    var ids = "";
                    selectedItems.each(function (i, e) {
                        ids += "," + $(e).val();
                    });
                    ids = ids.trim(",");
                    App.Confirm("是否删除选中的 " + selectedItems.length + " 位用户？", function (e) {
                        if (e) {
                            $.ajax({
                                type: "POST",
                                url: "/Account/BatchDeleteForAjax",
                                data: { ids: ids }
                            }).done(function (data) {
                                if (data.Success) {
                                    App.Notify(data.Message);
                                    $("#accountForm").submit()
                                } else {
                                    App.Alert(data.Message);
                                }
                            })
                        }
                    })
                }
                else {
                    App.Alert("您没有选中任何一项!");
                }
            });
            //全选
            $("#accountContainer [selectall]").live("click", function () {

                if ($(this).prop('checked')) {
                    $("input[type='checkbox'][selectitem]").each(function () {
                        $(this).attr('checked', true);
                        $(this).parent().addClass('checked');
                    });
                }
                else {
                    $("input[type='checkbox'][selectitem]").each(function () {
                        if ($(this).attr('checked')) {
                            $(this).attr('checked', false);
                            $(this).parent().removeClass('checked');
                        } else {
                            $(this).attr('checked', true);
                            $(this).parent().addClass('checked');
                        }
                    });
                }


            });


            $.done("#AddUserForm", function (data) {
                console.log(data)
                if (data.Success) {
                    $("#addOrEditUser").modal("hide");
                    App.Notify(data.Message);
                    $("#accountForm").submit()
                }
                else {
                    App.Alert(data.Message);
                }
            });
            $.done("#EditUserForm", function (data) {
                if (data.Success) {
                    $("#addOrEditUser").modal("hide");
                    App.Notify(data.Message);
                    $("#accountForm").submit()
                }
                else {
                    App.Alert(data.Message);
                }
            });
            $.done("#RolesForm", function (data) {
                if (data.Success) {
                    $("#addOrEditUser").modal("hide");
                    App.Notify(data.Message);
                }
                else {
                    App.Alert(data.Message);
                }
            });
        });

    </script>
}

