@model Max.Models.QianTu.SystemNotice

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
          name="viewport">
    <style>
        img { max-width: 100%; }
    </style>
</head>
<head>
</head>
<div style="padding:10px;">
    @if (!Model.IsNull())
    { 
    <table>
        <tr>
            <td style="font-size: 18px;">
                <div style="padding-bottom: 10px; margin-bottom: 5px; border-bottom: 1px solid #e7e7eb;">@Model.NoticeName</div>
            </td>
        </tr>
        <tr>
            <td style="font-size: 12px; color: gray;">
                @if (@Model.PlanTime.HasValue)
                { 
                    @Model.PlanTime.Value.ToString("yyyy-MM-dd")
                }
            </td>
        </tr>
        <tr>
            <td>
                <img width="100%" src="@Model.NoticeImg" />
            </td>
        </tr>
        <tr>
            <td id="content">
                @Html.Raw(Model.Content)
            </td>
        </tr>
    </table>
    }
    
</div>


