@model Query<Merchant, Max.Web.Management.Models.Payment.MerchantParams>
<table class="table loading table-bordered table-hover margin-top-10 margin-bottom-5">
    <thead>
        <tr>
            <th width="30" class="bg-f1">#</th>
            <th>商户名称</th>
            <th>商户号</th>
            <th>代理</th>
            <th>电话</th>
            <th>邮箱</th>
            <th>QQ</th>
            <th>创建时间</th>
            <th>备注</th>
            <th>状态</th>
            <th width="250">操作</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 0;}
        @foreach (var item in Model.ItemList)
        {
            <tr>
                <td class="bg-f7">@(++index)</td>
                <td>@item.MerchantName</td>
                <td>@item.MerchantNo</td>
                <td>@item.AgentNo</td>
                <td>@item.Mobile</td>
                <td>@item.Email</td>
                <td>@item.QQ</td>
                <td>@item.Remark</td>
                <td>@item.CreateTime</td>
                <td>@((Max.Models.Payment.Common.Enums.BankStatus)item.Status)</td>
                <td class="clearfix">
                    <a itemid="@item.MerchantId" permid="@PermCode.编辑商户.Code()" class="edit btn btn-primary btn-sm"><i class="fa fa-edit"></i> 编辑</a>
                    <a itemid="@item.MerchantId" permid="@PermCode.编辑商户银行卡.Code()" class="setBankCard btn btn-primary btn-sm"><i class="fa fa-edit"></i>设置银行卡</a>
                    <a itemid="@item.MerchantId" permid="@PermCode.删除商户.Code()" itemname="@(item.MerchantName)" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@Html.GridPager(Model)