<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="robots" content="index,follow" />
    @*<script src="~/Content/Car/js/hotcss.js"></script>*@
    <script>
    (function (window, document) { (function () { var viewportEl = document.querySelector('meta[name="viewport"]'), hotcssEl = document.querySelector('meta[name="hotcss"]'), dpr = window.devicePixelRatio || 1; if (hotcssEl) { var hotcssCon = hotcssEl.getAttribute("content"); if (hotcssCon) { var initialDpr = hotcssCon.match(/initial\-dpr=([\d\.]+)/); if (initialDpr) { dpr = parseFloat(initialDpr[1]) } } } var scale = 1 / dpr, content = "width=device-width, initial-scale=" + scale + ", minimum-scale=" + scale + ", maximum-scale=" + scale + ", user-scalable=no"; if (viewportEl) { viewportEl.setAttribute("content", content) } else { viewportEl = document.createElement("meta"); viewportEl.setAttribute("name", "viewport"); viewportEl.setAttribute("content", content); document.head.appendChild(viewportEl) } })(); var hotcss = {}; hotcss.px2rem = function (px, designWidth) { if (!designWidth) { designWidth = parseInt(hotcss.designWidth, 10) } return parseInt(px, 10) * 320 / designWidth / 20 }; hotcss.mresize = function () { var innerWidth = window.innerWidth; if (!innerWidth) { return false } document.documentElement.style.fontSize = (innerWidth * 20 / 320) + "px" }; hotcss.mresize(); window.addEventListener("resize", hotcss.mresize, false); window.addEventListener("load", hotcss.mresize, false); setTimeout(function () { hotcss.mresize() }, 300); window.hotcss = hotcss })(window, document);
    </script>
    <meta name="apple-mobile-web-app-capable" content="yes" /> <!-- 启用 WebApp 全屏模式 -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="full-screen" content="yes"> <!-- UC强制全屏 -->
    <meta name="x5-fullscreen" content="true"> <!-- QQ强制全屏 -->
    <meta name="format-detection" content="telephone=no" />
    <meta content="email=no" name="format-detection" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Car/css/y_style.css?v=0628" rel="stylesheet" />
    @RenderSection("style", false)
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    <script src="~/Content/Car/js/zepto.min.js"></script>
    <script src="~/Content/Car/js/y_main.js?v=0331"></script>
    <script src="~/Scripts/Max.validate.js?v=0331"></script>
    @RenderSection("footer", false)
    <div style="display: none;">
        <script src="~/Scripts/UMengTongJi.js"></script>
    </div>
</body>
</html>



