@model IEnumerable<Max.Web.Management.Models.Roles.RoleActionsModel>
@{
    var actionPerms = ViewData["ActionPerms"] as List<SYS_ActionPerms>;
    var rolePerms = (ViewData["RolePerms"] as string) == null ? new string[] { "" } : (ViewData["RolePerms"] as string).Split(',');
    var codes = ViewData["PermCodes"] as List<KeyValuePair<int, string>>;
}
<input type="hidden" value="@ViewBag.SystemId" id="hidSystemId" />
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h4 class="modal-title"><i class="fa fa-bars"></i> 角色 @ViewBag.RoleName 菜单管理</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            @* 不分页的情况不再做部分页 *@
            @*@using (Html.PageView("ActionsInRole", "Roles", "queryRoleActionsForm", "actionsInRoleContainer", "ActionsInRole_Partial", Model))
                {
                }*@

            <input type="hidden" id="roleId" value="@ViewBag.RoleId" />
            <table class="table table-bordered table-hover margin-top-10 margin-bottom-5 loading">
                <thead>
                    <tr>
                        <th width="1">#</th>
                        <th width="50">图标</th>
                        <th width="200">菜单名称</th>
                        <th width="200">路径</th>
                        <th>@*<input type="checkbox" id="actionsInRole_checkAll" />*@</th>
                        <th>权限</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        var index = 0;
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@(++index)</td>
                                <td align="center"><i class="@item.IconClass" style="font-size:18px"></i></td>
                                <td>@item.ActionName</td>
                                <td>@item.Url</td>
                                <td class="clearfix">
                                    <input class="roleaction" type="checkbox" desc="@item.ActionName" parentid="@item.ParentId" value="@item.ActionId" checked="@item.IsAssigned" />
                                </td>
                                <td>
                                    @{
                            var actionPerm = actionPerms.FirstOrDefault(a => a.ActionId == item.ActionId);
                            if (actionPerm != null)
                            {
                                var permCodes = actionPerm.PermCode.Split(',');

                                foreach (var code in codes)
                                {
                                    if (permCodes.Contains(code.Key.ToString()))
                                    {
                                        if (rolePerms.Contains(code.Key.ToString()))
                                        {
                                            <label>
                                                <input class="roleperm" type="checkbox" actionid="@item.ActionId" value="@code.Key" desc="@code.Value" name="PermCodes" checked />
                                                @code.Value
                                            </label>
                                        }
                                        else
                                        {
                                            <label>
                                                <input class="roleperm" type="checkbox" actionid="@item.ActionId" desc="@code.Value" value="@code.Key" name="PermCodes" />
                                                @code.Value
                                            </label>
                                        }
                                    }
                                }
                            }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary saveactionsinrole">保存</button>
    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
</div>

<script>
    $(document).ready(function () {
        //$("#actionsInRole_checkAll").change(function () {
        //    var checkboxes = $(this).closest('table').find('tbody :checkbox');
        //    if ($(this).attr('checked'))
        //        checkboxes.attr('checked', 'checked').uniform('update');
        //    else
        //        checkboxes.removeAttr('checked').uniform('update');
        //});

        //$("#actionsInRoleModal").find('tbody :checkbox').live("change", function () {
        //    if ($(this).attr('checked'))
        //        $("#actionsInRoleModal").find('tbody :checkbox[parentId="' + $(this).val() + '"]').attr("checked", "checked").uniform("update").trigger("change");
        //    else
        //        $("#actionsInRoleModal").find('tbody :checkbox[parentId="' + $(this).val() + '"]').removeAttr("checked").uniform("update").trigger("change");
        //});

        $(".saveactionsinrole").click(function () {
            var actionIds = $("#actionsInRoleModal").find('table').find('tbody .roleaction:checkbox:checked').map(function () {
                return this.value;
            }).get().join(",");
            var permCodes = $("#actionsInRoleModal").find('table').find('tbody .roleperm:checkbox:checked').map(function () {
                return this.value;
            }).get().join(",");
            var roleId = $("#roleId").val();

            $.ajax({
                type: "POST",
                url: "/Roles/UpdateActionsInRoleForAjax",
                data: { roleid: roleId, actionIds: actionIds, permCodes: permCodes, systemId: $("#hidSystemId").val() },
            }).done(function (data) {
                if (data.Success) {
                    App.Notify(data.Message);
                    $("#actionsInRoleModal").modal("hide");
                } else {
                    App.Alert(data.Message);
                }
            })
        });
    });
</script>