@model Query<PayChannel, Max.Web.Management.Models.Payment.PayProductParams>
<table class="table loading table-bordered table-hover margin-top-10 margin-bottom-5">
    <thead>
        <tr>
            <th width="30" class="bg-f1">#</th>
            <th>渠道名称</th>
            <th>渠道类型</th>
            <th>费率</th>
            <th>状态</th>
            <th>备注</th>
            <th>创建时间</th>
            <th width="250">操作</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 0;}
        @foreach (var item in Model.ItemList)
        {
        <tr>
            <td class="bg-f7">@(++index)</td>
            <td>@item.ChannelName</td>
            <td>@((Max.Models.Payment.Common.Enums.ServiceType)item.ChannelType)</td>
            <td>@item.FeeRate</td>
            <td>@((Max.Models.Payment.Common.Enums.CommonStatus)item.Status)</td>
            <td>@item.Remark</td>
            <td>@item.CreateTime</td>
            <td class="clearfix">
                <a itemid="@item.ChannelId" permid="@PermCode.编辑支付渠道.Code()" class="edit btn btn-primary btn-sm"><i class="fa fa-edit"></i> 编辑</a>
                <a itemid="@item.ChannelId" permid="@PermCode.删除支付渠道.Code()" itemname="@(item.ChannelName)" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</a>

            </td>
        </tr>
        }
    </tbody>
</table>

@Html.GridPager(Model)

