@model Query<PayOrder, Max.Web.Management.Models.Payment.PayOrderParams>
<table class="table loading table-bordered table-hover margin-top-10 margin-bottom-5">
    <thead>
        <tr>
            <th width="30" class="bg-f1">#</th>
            <th>平台订单号</th>
            <th>商户订单号</th>
            <th>交易时间</th>
            <th>支付类型</th>
            <th>交易金额</th>
            <th>手续费</th>
            <th>所得金额</th>
            <th>支付状态</th>
            <th>通知状态</th>
            <th width="250">操作</th>
        </tr>
    </thead>
    <tbody>
        @{ var index = 0;}
        @foreach (var item in Model.ItemList)
        {
            <tr>
                <td class="bg-f7">@(++index)</td>
                <td>@item.OrderNo</td>
                <td>@item.MerchantOrderNo</td>
                <td>@item.CreateTime</td>
                <td>@((Max.Models.Payment.Common.Enums.ServiceType)item.ChannelType)</td>

                <td>@item.OrderAmount</td>
                <td>@item.ServiceFee</td>
                <td>@item.TransAmount</td>
                <td>@((Max.Models.Payment.Common.Enums.PayStatus)item.PayStatus)</td>
                <td>@((Max.Models.Payment.Common.Enums.NotifyStatus)item.NotifyStatus)</td>

                <td class="clearfix">
                    <a itemid="@item.OrderId" permid="@PermCode.编辑支付订单.Code()" class="edit btn btn-primary btn-sm"><i class="fa fa-edit"></i> 编辑</a>
                    <a itemid="@item.OrderId" permid="@PermCode.删除支付订单.Code()" itemname="@(item.OrderNo)" class="delete btn btn-danger btn-sm"><i class="fa fa-trash-o"></i> 删除</a>

                </td>
            </tr>
        }
    </tbody>
</table>

@Html.GridPager(Model)

